header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 5%;
  top: 0;
  right: 40px;
  position: fixed;
}

.btn {
  width: 70px;
  height: 40px;
}

.btn-red {
  background-color: rgb(92, 16, 16);
  color: white;
}

.btn-blue {
  background-color: rgb(52, 154, 238);
  color: white;
}
