/* You can add global styles to this file, and also import other style files */
@import url(./app/shared/fonts/_fonts.scss);
@import 'ngx-toastr/toastr';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}